<% layout('layouts/boilerplate') -%>
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
    
        <div class=" col-6 offset-md-3">
            <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" class="validated-form" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" id="title" class="form-control" placeholder="name" name="campgrounds[title]" value="<%=campground.title%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" placeholder="location" name="campgrounds[location]" value="<%=campground.location%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div>
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" name="campgrounds[price]" value="<%=campground.price%>" aria-label="price" aria-describedby="basic-addon1" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Add more Image(s)..</label>
                    <input class="form-control" type="file" name="image" id="formFileMultiple" multiple>
                </div>
                <!-- <div class="mb-3">
                    <label for="image" class="form-label">Add Image(s)</label>
                    <input type="file" name="image" id="image" multiple>
                </div> -->
                <!-- <div class="mb-3">
                    <label for="image" class="form-label">Image url</label>
                    <input type="text" class="form-control" id="image" name="campgrounds[image]" value="<%=campground.image%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div> -->
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" name="campgrounds[description]" rows="3" required><%= campground.description%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <% campground.images.forEach(function(img, i) {%> 
                        <img src="<%= img.thumbnail %> " class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input class="form-check-input" type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>" >
                            <label class="form-check-label" for="image-<%=i%>">Delete?</label>
                        </div>
                    <% }) %>
                </div>    
                <div class="mb-3">
                    <button class="btn btn-info">Update Campground</button>
                </div>
            </form>
            <footer>
                <a href="/campgrounds/<%= campground._id %>" class="text-decoration-none">Go Back</a>
            </footer>
        </div>
    </div>
